// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


.myclass{
	font-size:35px;
	color: $black;
	font-family: "Times New Roman", Times, serif;

}

.tools{
	font-size:20px;
	color: $black;
	font-family: "Times New Roman", Times, serif;

}
.ulClass{
		font-size:20px;
	color: $black;
	font-family: "Times New Roman", Times, serif;
	a{
		color: $blue;
	}
}